/* Class Selectors */
.synopsis {
  color: #7E8184;        /* Light gray */
  font-style: italic;
}

/* More Useful Divs & Button Pseudo-Classes*/
.button:link,                 /* Change this */
.button:visited {             /* Change this */
  display: block;             /* Add this */
  text-decoration: none;      /* Add this */

  color: #FFF;                /* The rest is the same */
  background-color: #5995DA;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  border: 2px solid #5D6063;
  border-radius: 5px;

  width: 200px;
  margin: 20px auto;
}

/* CSS Specificity */
#button-2 {
  background-color: #D55C5F;    /* Red */
}

.call-to-action:link,
.call-to-action:visited {
  font-style: italic;
  background-color: #EEB75A;     /* Yellow */
}

.call-to-action:hover,
.call-to-action:visited:hover {
  background-color: #F5CF8E;     /* Light yellow */
}

.call-to-action:active,
.call-to-action:visited:active {
  background-color: #EEB75A;     /* Yellow */
}

/* Modifying Class Styles */
.call-to-action {
  font-style: italic;
  background-color: #EEB75A;    /* Yellow */
}

/* Container Divs */
.page {
  width: 600px;
  margin: 0 auto;
}

/* Descendant Selectors */
.synopsis em {
  font-style: normal;
}

/* Link Pseudo-Classes & Button Pseudo-Classes*/
a:visited:hover {
  color: orange;
}
a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: purple;
}
.button:hover,
.button:visited:hover {
  color: #FFF;
  background-color: #76AEED;  /* Light blue */
}
.button:active,
.button:visited:active {
  color: #FFF;
  background-color: #5995DA;  /* Blue */
}

a:visited:active {
  color: red;
}

/* ID Selectors */
#button-2 {
  color: #5D6063;  /* Dark gray */
}
