.container {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-rows: repeat(2, 510px);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}
.img1 {
   grid-row-start: 1;
   grid-row-end: 5;
   grid-column-start: 2;
   grid-column-end: 3;
}
.img2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 5;
}
.img3 {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;
}
.p1 {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
}
.p3 {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
    border: 1px solid black;
    padding: 5px;
}
#pic {
    padding-bottom: 120px;
}