.button {
    text-decoration: none;
    color: lightcoral;
    background-color: white;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 20px;
}
#section-1-heading {
    text-align: right;
    color: black;
}
#subheading-1 {
    color: white;
}
.header {
    text-align: center;
    background-color: lightsalmon;
}
#html-button {
    margin-left: 40px;

}
.footer {
    text-align: center;
    background-color: lightsalmon;
}
.section {
    background-color: lightcoral;
}