
#section-1-heading {
    text-align: right;
    color: black;
}
#subheading-1 {
    color: white;
    padding-left: 10px;
}
.header {
    text-align: center;
    background-color: lightsalmon;
}
.footer {
    text-align: center;
    background-color: lightsalmon;
}
.section {
    background-color: lightcoral;
}
.header-image {
    width: 150px;
    padding-left: 300px; 
    padding-right: 70px;
    padding-top: 20px;
}
.image-1 {
    float: left; 
    padding-right: 5px;
    padding-left: 10px;
    width: 300px;
    border-radius: 50%;
}
.paragraph-image {
    float: left; 
    padding-right: 5px;
    padding-left: 10px;
    width: 75px;
}
ul, li {
    display: inline-block;
    padding-right: 10px;
}
nav {
    display: inline;
}
.footer-links {
    border-right: 1px solid black; 
    padding-right: 5px;
}