.page> p:first-of-type {
    color: #7E8184;
    font-style: italic;
}

.synopsis {
    color: #7E8184;                    /*light gray*/
    font-style: italic;
}

.synopsis em {
    font-style: normal;
}

.button:link,
.button:visited {
    display: block;
    text-decoration: none;
    color: #5995DA;                    /*blue*/
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;        /*dark gray*/
    border-radius: 5px;

    width: 200px;
    margin: 20px auto;
}

.button:hover,
.button:visited:hover {
    color: #FFF;
    background-color: #76AEED;       /*light blue*/
}

.button:active,
.button:visited:active {
    color: #FFF;
    background-color: #5995DA;       /*blue*/
}
.page {
    width: 600px;
    margin: o auto;
}

.call-to-action:link,
 .call-to-action:visited {
    font-style: italic;
    background-color: #EEB75A;       /*yellow*/
}

.call-to-action:hover,
.call-to-action:visited:hover {
    background-color: #F5CF8E;       /*light yellow*/
}

.call-to-action:active,
.call-to-action:visited:active {
    background-color: #EEB75A;       /*yellow*/
}

#button-2 {
    color: #D55C5F;                  /*red*/
}

a:link {
    color: blue;
    text-decoration: none;
}

a.visited {
    color: purple;
}

a.hover {
    color: aqua;
    text-decoration: underline;
}

a.active {
    color: red;
}

a.visited:hover {
    color: orange;
}

a.visited:active {
    color: red;
}

p:last-of-type {
    margin-bottom: 50px;
}

