h1 {
    text-align: left;
    color: rgb(17, 0, 255)
}

.implicit-container {
    display: grid;
    width: 80%;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}
.implicit-footer {
    display: grid;
    width: 60%;
    height: 30px;
    grid-template-columns: repeat(4, 6fr);
    grid-template-rows: auto;
    text-align: center;
}
.paragraph {
    color: rgb(0, 0, 0);
    background-color: rgb(244, 255, 144);
    text-align: center;
    margin-right: 225px;
}
.heading {
    text-align: left;
    color: rgb(17, 0, 255);
}
#leftp {
    margin-right: 200px;
}
#rightp {
    margin-left: 0px;
}
.footer {
    border-left: 3px solid rgb(56, 4, 243);
}

.Explicit-Container {
    display: grid;
    width: 80%;
    height: auto;
    grid-template-rows: repeat(2, 510px);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    'top-right top-right top-right empty1 empty1 empty1 empty1'
    'empty2 empty2 middle middle middle empty3 empty3'
    'empty4 empty4 empty4 empty4 bottom-right bottom-right bottom-right';
}
.top-right {
    grid-area: top-right;
}
.middle {
    grid-area: middle;
}
.bottom-right {
    grid-area: bottom-right;
}
#image {
    height: 400px;
}
#image2 {
    width: 400px;
}
.explicit-footer {
    border-right: 3px solid rgb(56, 4, 243);
    display: grid;
    width: 100%;
    height: 30px;
    grid-template-columns: repeat(4, 6fr);
    grid-template-rows: auto;
    text-align: center;
}