.implicit-container {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}
.implicit-footer {
    display: grid;
    width: 100%;
    height: 60px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    text-align: center;
}
.paragraph {
    color: white;
    background-color: lightslategray;
    text-align: center;
}
.heading {
    text-align: center;
    color: palevioletred;
}
#leftp {
    margin-right: 20px;
}
#rightp {
    margin-left: 20px;
}
.footerp {
    border-right: 2px solid black;
}

.explicit-container {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-rows: repeat(3, 510px);
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1rem;
    grid-template-areas: 
    'top-right top-right top-right empty1 empty1 empty1 empty1'
    'empty2 empty2 middle middle middle empty3 empty3'
    'empty4 empty4 empty4 empty4 bottom-right bottom-right bottom-right';
}
.top-right {
    grid-area: top-right;
}
.middle {
    grid-area: middle;
}
.bottom-right {
    grid-area: bottom-right;
}
.empty1 {
    grid-area: empty1;
}
.empty2 {
    grid-area: empty2;
}
.empty3 {
    grid-area: empty3;
}
.empty4 {
    grid-area: empty4;
}
#image {
    height: 400px;
}
#image2 {
    width: 450px;
}