@import "https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700";
#skip-link { display: none; }

/* =====================
  GRID AREA
  =================== */
.grid-header {
  grid-area: header;
}
.grid-footer {
  grid-area: footer;
}
.grid-main {
  grid-area: main;
}
.grid-nav {
  grid-area: navigation;
}
.grid-right {
  grid-area: ads;
}

/* Mobile-First Ruleset */
.grid {
  display: grid;
  grid-template-areas:
    "header"
    "navigation"
    "main"
    "ads"
    "footer";
  grid-template-columns: 100%;
  grid-template-rows: auto auto 1fr auto auto;
  /* Footer */
  min-height: 100vh;
}

/* Responsive grid styles based on a breakpoint */
@media screen and (min-width: 600px) {
  .grid {
    grid-template-areas:
      "header header header"
      "navigation navigation navigation"
      "main main ads"
      "footer footer footer";
    grid-template-columns: 150px 1fr 150px;
  }
}

/* =====================
  NAVIGATION
  =================== */
nav ul.t-nav {
  list-style-type: none;
}
/* Mobile-First */
nav ul > li {
  display: block;
  line-height: 1.68;
  margin: 0.65rem;
}
nav li.t-nav-link a {
  border-bottom: 0;
}
/* Nav structure vw > 715px */
@media screen and (min-width:715px) {
  nav ul > li {
    display: inline-block;
  }
  nav ul.t-nav {
    text-align: center;
  }
  nav li.t-nav-link > a {
    padding: 0.5rem;
    border-left: 1px tomato solid;
  }
}
nav ul > li a {
  text-decoration: none;
  color: tomato;
  font-weight: 700;
  padding: 0 0.5rem;
  margin: 1rem 0;
}
nav a.current-page {
  padding: 0.5rem;
  text-decoration: underline;
  transform: scale(1.2);
}

/* Nest Menu Items */
nav .nested-menu {
  position: relative;
}
nav ul ul .nested-menu:hover::after {
  border-color: transparent transparent transparent rgb(100, 125, 186);
  animation-duration: 1s;
  animation-name: menuReveal;
  animation-iteration-count: infinite;
}
nav ul ul .nested-menu::after {
  position: absolute;
  pointer-events: none;
  top: 50%;
  right: 0px;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent rgb(234,237,237);
  transform: translateY(-50%);
  transition: all .2s ease;
}
nav ul ul .nested-menu {
  padding-right: 0px;
}
nav > ul > li > ul {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all .2s ease;
}
nav > ul > li.nested-menu > ul {
  list-style: none;
  width: 200px;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
nav > ul > li.nested-menu:hover > ul {
  opacity: 1;
  pointer-events: auto;
  background-color: #e8e8e8;
}
nav > ul > li.nested-menu > ul li,
nav > ul > li.nested-menu > ul li a {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
nav > ul > li.nested-menu:hover > ul li a:hover {
  opacity: 1;
  pointer-events: auto;
  background-color: #ffdfdf;
  padding-inline-start:0;
}
/* Animation frames */
@keyframes menuReveal {
    0% {
        right: -15px;
    }

    50% {
        right: 0;
    }

    100% {
        right: -15px;
    }
}

/* =====================
  THEME STYLES
  =================== */
.theme {
  font-family: "Space Mono", "Rubik", "Kanit", monospace;
  font-size: 1rem;
  line-height: 1.4;
}
.theme .t-title {
  font-size: 2.168rem;
  color: whitesmoke;
  margin: 0;
}
.theme .t-heading {
  font-size: 1.618rem;
  margin: 0;
}
.theme .t-subheading {
  font-size: 1.2rem;
}

.t-header {
  box-sizing: border-box;
  background-color: tomato;
  border-bottom: 1px solid #e02200;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  padding: 1rem 2rem;
  color: whitesmoke;
}

.t-footer {
  background: white;
  padding: 1rem 2rem;
  border-top: 1px solid #d0d0d0;
}

.t-main {
  background-color: whitesmoke;
  padding: 1rem 2rem 1rem 2rem;
  border-left: 1px solid #d0d0d0;
  border-right: 1px solid #d0d0d0;
}
@media (min-width: 600px) {
  .t-main {
    padding: 2rem 2rem 1rem 4rem;
  }
}

.t-main-content {
  max-width: 40em;
}

.t-nav-region,
.t-right {
  padding: 1rem 2rem;
}
@media (min-width: 600px) {
  .t-nav-region,
  .t-right {
    padding: 1rem 1rem;
  }
}

.t-nav-region {
  background-color: #e8e8e8;
}

.t-right {
  background-color: #e8e8e8;
}
