* {
	font-size: 16px;
}

main {
        max-width: 800px;
        margin: auto;
}

nav {
	margin-bottom: 1em;
}

nav * {
	display: inline;
	padding-right: 1em;
}

img {
        margin: auto;
        width: 100%;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: .9em;
}

p {
	font-size: .8em;
}

strong.red {
	color: #AA1111;
}

.newsletter {
	background-color: #555555;
	color: #FFFFFF;
	height: 3em;
	padding: 1em;
	margin-bottom: 2em;
}

.hero-grid {
	margin: auto;
	margin-bottom: 2em;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 2em;
}

.top-img {
	grid-column: 1 / 4;
	grid-row: 1 / 4;
}

.top-txt {
	grid-column: 4 / 7;
	grid-row: 1 / 4;
}

.later-grid {
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2em;
}

.l-item-txt * {
	text-align: center;
}

.l-hero {
	grid-column: 2 / 3;
	grid-row: 1 / 4;
}

