body {
    font-size: 18px;
    font-family: 'Lora';
}
#navbar {
    text-align: center;
    background-color: rgb(47, 47, 48);
}
nav {
    display: inline;
}
#navbar img {
    padding-left: 350px; 
    padding-right: 70px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#navbar a {
    color: #5f9197;
    text-align: center;
    padding: 20px;
    margin: 0px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
#navbar a:hover {
    background-color: #233436;
  }

  .main {
    padding: 0 2%;
    border-bottom: 3px solid rgb(47, 47, 48);
  }
  .main img {
    float: left; 
    border-radius: 50%;
    margin: 0px 50px;
  }
  .main h1 {
    text-align: left;
    color: rgb(60, 60, 61);
}
.articles img {
    float: left;
    padding-right: 20px;
}
.articles h2 {
    text-align: left;
}
#subheading {
    color: rgb(61, 60, 60);
    padding-left: 20px;
}
.articles {
    padding: 0 10%;
    border-bottom: 3px solid rgb(47, 47, 48);
    margin-bottom: 20px;
}
.footer {
  text-align: center;
  background-color: white;
}
.footer a {

    color: rgb(47, 47, 48);
    padding: 20px;
  }