.implicit-contain {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}
.implicit-contain h1 {
    text-align: center;
}
.implicit-contain h2 {
    text-align: center;
}
.implicit-contain img {
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.implicit-contain p {
    margin-left: 15px;
    margin-right: 15px;
}
.implicit-foot {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    text-align: center;
}
.p-foot {
    border-right: 2px solid black;
}



.explicit-contain {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-rows: repeat(3, 550px);
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1rem;
    grid-template-areas: 
    'Top Top Top empty-top empty-top empty-top empty-top'
    'empty-middleL empty-middleL Middle Middle Middle empty-middleR empty-middleR'
    'empty-bottom empty-bottom empty-bottom empty-bottom Bottom Bottom Bottom';
}
.Top {
    grid-area: Top;
}
.Middle {
    grid-area: Middle;
    border: 2px solid rgb(152, 188, 204);
}
.Bottom {
    grid-area: Bottom;
}
.empty-top {
    grid-area: empty-top;
}
.empty-middleL {
    grid-area: empty-middleL;
}
.empty-middleR {
    grid-area: empty-middleR;
}
.empty-bottom {
    grid-area: empty-bottom;
}
.explicit-contain img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.explicit-contain p {
    margin-left: 10px;
    margin-right: 10px;
}