* {
	font-family: sans-serif;
	font-size: 16px;
	color: #131213;
}

a {
	color: #1a24b0;
}

a:hover {
	color: #cecef5;
}

.siteheader {
	padding: 1em;
	border-bottom: 2px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navlogo {
	padding: 1em;
}

nav * {
	display: inline;
	padding: 0 2px;
}

main {
	margin: auto;
	max-width: 1000px;
}

article {
	margin: auto;
	width: 90%;
}

.articlesummary::first-letter {
	font-size: 200%;
}

.primary {
	padding: 2em;
	border-bottom: 2px solid black;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-gap: 1em;
}

.graph {
	width: 100%;
	max-width: 400px;
}

.sitefooter {
	border-top: 2px solid black;
	padding: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
}
