@font-face {
    font-family: bangers;
    src: url(bangers-regular.ttf);
}
.container {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 510px);
    grid-gap: 1rem;
    text-align: center;
}
.div1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: tan;
    font-family: 'Comic Neue', cursive;
}
.div2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: rgb(67, 196, 67);
    padding-top: 135px;
    font-size: 20px;
    font-family: 'Comic Neue', cursive;
}
.div3 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: rgb(238, 177, 63);
}
.div4 {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: rgb(67, 196, 67);
}
.div5 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: tan;
}
.div6 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: rgb(238, 177, 63);
}
.div7 {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: tan;
}
.foodimg {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: tan;
}
#alfredo {
    width: 200px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}
#brownie {
    width: 500px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#chicken {
    width: 400px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#greenbeans {
    width: 200px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}
#smoothie {
    width: 145px;
    height: 175px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#food {
    width: 530px;
    height: 245px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#mainhead {
    font-size: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
    border: 2px solid black;
    font-family: 'Comic Neue', cursive;
    margin-right: 5px;
    margin-left: 5px;
}
.button {
    background-color: tan;
    border: 3px solid black;
    color: white;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
p{
    font-size: 20px;
    font-family: 'Comic Neue', cursive;
}
.left {
    text-align: left;
}
#ingredients {
    padding-left: 10px;
    font-family: 'Indie Flower', cursive;
}
ul {
    font-family: 'Indie Flower', cursive;
}
ol {
    font-family: 'Indie Flower', cursive;
}
.heading {
    font-family: 'Comic Neue', bold;
    font-size: 25px;
}