.page > p:first-of-type {
    color: #7E8184;
    font-style: italic;

  .button:hover,
.button:visited:hover {
  color: #FFF;
  background-color: #76AEED;  /* Light blue */
}
.button:active,
.button:visited:active {
  color: #FFF;
  background-color: #5995DA;  /* Blue */
}
.call-to-action:link,
.call-to-action:visited {
  font-style: italic;
  background-color: #EEB75A;     /* Yellow */
}

.call-to-action:hover,
.call-to-action:visited:hover {
  background-color: #F5CF8E;     /* Light yellow */
}

.call-to-action:active,
.call-to-action:visited:active {
  background-color: #EEB75A;     /* Yellow */
}

.call-to-action {
  font-style: italic;
  background-color: #EEB75A;    /* Yellow */
}
.synopsis em {
  font-style: normal;
}
a:visited:hover {
  color: orange;
}
#button-2 {
  color: #5D6063;  /* Dark gray */
}
