body {
    font-size: 24px;
    margin-left: 50px;
}
#navigate {
    text-align: right;
    background-color: pink;
}
nav {
    display: inline-table;
}
#navigate img {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#navigate a {
    color: green;
    text-align: lrighteft;
    padding: 0 20px;
    margin: 15px;
    text-decoration: none;
    justify-content: right;
    align-items: right;
}
#navigate a:hover {
    background-color: lightskyblue;
}

.main {
    padding: 2%;
    border-bottom: 20px solid lightsalmon;
}
.main img {
    float: left;
    border-radius: left;
    margin: 50px;
}
.main h1 {
    text-align: center;
    text-indent: inherit;
    color: darkslategrey
}
.main p {
    text-align: justify;
    margin-left: 500px;
    margin-right: 50px;
}
.content {
    text-align: left;
    border-bottom: 20px lightcoral;
    margin-bottom: 20px;
    margin-left: 20px;
    padding-bottom: 20px;
}
#sub {
    color: lightcoral;
    padding-right: 20px;
}
.footer {
    text-align:center;
    background-color: mediumseagreen;
}
.footer a {
    color: turquoise;
    padding: 20px;
}
