body {
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#navigation {
    text-align: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    background-color: rgb(212, 206, 206);
}
nav {
    display: inline;
}
#navigation img {
    padding-left: 25px; 
    padding-right: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#navigation a {
    color: #4b4646;
    text-align: right;
    padding: 5px;
    margin: 5px;
    justify-content: right;
    align-items: right;
}
.main {
    padding: 0 5%;
    border-top: 5px solid rgb(16, 19, 224);
    border-bottom: 5px solid rgb(16, 19, 224);
}
.main h1 {
    text-align: left;
    color: rgb(77, 79, 185);
}
.main img {
    float: left; 
    padding-right: 50px;
    padding-top: 17px;
}
#subheading {
    color: rgb(34, 14, 14);
    padding-left: 5px;
}
.articles img {
    float: left;
    padding-right: 10px;
}
.articles h2 {
    text-align: left;
}
.articles {
    padding: 0 14%;
    border-bottom: 5px solid rgb(16, 19, 224);
    margin-bottom: 80px;
}
.footer {
    text-align: center;
    font-style: bold;
    background-color: white;
}
.footer a {
    color: rgb(38, 38, 156);
    padding: 20px;
}