/* The navigation bar */
.navbar {
  position: fixed;
  top: 65px;
  width: 100%;
}

.navbar a {
  float: right;
  display: block;
  color: #e22882;
  text-align: right;
  padding: 10px;
  margin-right: 100px;
  text-decoration: none;
  background-color: white;
}


.navbar a:hover {
  background: #0492c2;
  color: white;
}

/* Main content */
#headline-one {
  text-align: right;
  padding-right: 95px;
  font-family: sans-serif;
  color: #0492c2;
}

#headline-two {
  text-align: left;
  padding-top: 200px;
  padding-left: 95px;
  font-family: sans-serif;
  color: #0492c2;
}

#headline-three {
  text-align: left;
  padding-top: 50px;
  padding-left: 95px;
  font-family: sans-serif;
  color: #0492c2;
}

.footer {
  text-align: center;
  padding: 70px;
  font-family: sans-serif;
  color: #0492c2;
}
