
.toppage {
    text-align: center;
    background-color: rgb(47, 47, 48);
    padding-bottom: 250px;
}
nav {
    display: inline;
}
.navbar img {
    padding-left: 20px; 
    padding-right: 860px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.navbar a {
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin: 0px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
.button:hover {
    color: rgb(47, 47, 48);
    background-color: #ffffff;
}
.Intro {
    padding-top: 100px;
}
.Intro p {
    color: #ffffff;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.smallerintro {
    font-size: 24px;
}
.biggerintro {
    font-size: 64px;
    padding-top: 5px;
    margin-top: 0px;
}
.Intro a {
    color: #ffffff;
    background-color: rgb(35, 83, 83);
    text-align: center;
    padding: 10px;
    margin: 0px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}



.wild-contain {
    display: grid;
    padding-top: 100px;
    font-size: 20px;
    width: 100%;
    height: auto;
    grid-template-rows: repeat(3, 460px);
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    grid-template-areas: 
    'empty1 img1 img1 word1 word1 empty2'
    'empty3 word2 word2 img2 img2 empty4'
    'empty5 img3 img3 word3 word3 empty6';
}
.img1 {
    grid-area: img1;
}
.word1 {
    grid-area: word1;
    text-align: center;
    padding-top: 110px;
}
.img2 {
    grid-area: img2;
}
.word2 {
    grid-area: word2;
    text-align: center;
    padding-top: 90px;
}
.empty1 {
    grid-area: empty1;
}
.empty2 {
    grid-area: empty2;
}
.empty3 {
    grid-area: empty3;
}
.empty4 {
    grid-area: empty4;
}
.empty5 {
    grid-area: empty5;
}
.empty6 {
    grid-area: empty6;
}
.img3 {
    grid-area: img3;
}
.word3 {
    grid-area: word3;
    text-align: center;
    padding-top: 110px;
}
.wild-contain img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.wild-contain p {
    margin-left: 10px;
    margin-right: 10px;
}
.wild-contain h2 {
    color: rgb(109, 108, 108);
}



.subscribe {
    background-color: rgb(235, 233, 233);
    text-align: center;
    padding-top: 75px;
    padding-bottom: 75px;
}
.subscribe p {
    padding-bottom: 20px;
}
.subscribe input {
    font-size: 26px;
}
.subscribe a {
    color: #ffffff;
    background-color: rgb(47, 47, 48);
    text-align: center;
    padding: 10px;
    margin: 0px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}



.footer {
    background-color: rgb(47, 47, 48);
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.contact {
    color: white;
    padding-bottom: 25px;
}
.power {
    color: rgb(189, 189, 189);
}